# ignored files
.komodotools
*.komodoproject
/*.xpi

# ignored directories
# joomladev
/build

build/jar/content/devjoomlabuilderextension_overlay.xul

build/jar/content/devjoomlabuilderextension_overlay.xul

build/jar/content/devjoomlabuilderextension_overlay.xul

build/jar/devjoomlabuilder_extension.jar

build/xpi/devjoomlabuilder_extension-0.1-ko.xpi

build/xpi/devjoomlabuilder_extension.jar

build/xpi/install.rdf

*.x_pi

*.xpi
